[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
autopep8 = "*"
flake8 = "*"

[packages]
tqdm = "*"
pyyaml = "*"
aioreloader = "*"
uvloop = "*"
aiohttp = "*"
cryptography = "*"
aiofiles = "*"
requests = "*"
aioredis = "*"
aiohttp-jinja2 = "*"
multidict = "*"
asyncio = "*"
bcrypt = "*"
flake8 = "*"

[requires]
python_version = "3.7"

[packages.aiohttp-security]
version = "*"
extras = [ "session",]
