[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
autopep8 = "*"

[packages]
tqdm = "*"
pyyaml = "*"
aioreloader = "*"
uvloop = "*"
aiohttp = "*"
aiohttp-security = { version = "*", extras = [ "session",] }
cryptography = "*"
aiofiles = "*"
requests = "*"
aioredis = "*"
aiohttp-jinja2 = "*"
multidict = "*"
asyncio = "*"
bcrypt = "*"

[requires]
python_version = "3.7"
