<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" type="text/css" href="http://derdu.ga/index.css">

<!------ Include the above in your HEAD tag ---------->


<html>

<head>
    <meta name="viewport" content="width=device-width">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    <style>
        img { 
        width: 100%; 
    }
    </style>
</head>

<body id="LoginForm">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <h1 class="form-heading">
                    {% for line in message.splitlines() %}
                    {{line}}<br>
                    {% endfor %}
                </h1>
            </div>
            <div class="col-md-4 col-sm-12">


                <div class="login-form">
                    <div class="main-div">
                        <div class="panel">
                            <h2>{{cardname}}</h2>
                            <img src="{{path}}" alt="Italian Trulli">
                            <p>Введите название карты</p>
                        </div>
                        <form id="Search" action="/card" method="get">

                            <div class="form-group">


                                <input type="text" class="form-control" id="Search" placeholder="Название карты" name="search_request">

                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary" value="Search">Поиск</button>
                            </div>
                        </form>
                        <form action="/logout">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Выйти</button>
                            </div>
                        </form>


                    </div>

                </div>
            </div>
            <div class="col-md-4 col-sm-12"></div>
        </div>

    </div>



</body>

</html>